*{
margin: 0;
padding: 0;


}
.container{
width: 60%;
height: 50vh;
}
.banner{
width: 60%;
height: 50vh;
background-image: url(images/bannercake.jpg);
background-size: cover;
background-position:69%;
border-radius: 10px;
position: fixed;
margin-top:100px;
}
