body {background-color:rgb(252, 236, 239);}
    
.date{
color: rgb(187, 35, 35);
}


#MainTitle{
font-style: bold;
color: brown;
font-family: 'BioRhyme', serif;
background-color: rgb(255, 222, 220);

}

h1 {

    color: white;}